<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="sans-serif bg-white-10">
    <header class="tc flex-ns ph3 content-between-ns mw8 center">
      <a href="/" class="grow no-underline green hover-pink dib">
        <h1 class="f4">
          <img class="dib v-mid w3" src="/images/happea-travels.png" alt="Happea Travels; a travel blog" srcset="/images/happea-travels.png 1x, /images/happea-travels@2x.png 2x">
          <span class="pt2 db">Happea Travels</span>
        </h1>
      </a>
      {{ partial "nav" . }}
    </header>
