<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $.Site.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700|Lora:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="sans-serif bg-white-10 {{.Page.Kind}}">
    {{ block "header" . }}
    <div class="main-nav center logo--overlay flex justify-between mw8 h4">
      <nav class="h-100">
        <a class="link pa3 f7 f6-ns fw5" href="/">Home</a>
      </nav>
      <div class="z-999 tc self-end main-nav--logo">
        <a href="/" class="grow no-underline db">
          <span class="logo--moon mt1 mt2-ns"></span>
          <img class="h3 mt3 mt2-ns dib v-mid relative" src="/images/happea-travels-flat.png" alt="Happea Travels; a travel blog" srcset="/images/happea-travels-flat.png 1x, /images/happea-travels-flat@2x.png 2x">
          <span class="logo--title f5 green db mt3 mb3 fw5">Happea Travels</span>
        </a>
      </div>

      <nav class="h-100">
        <a class="link pa3 f7 f6-ns fw5" href="/post">Blog</a>
      </nav>
      </div>
    {{ end }}

    <div class="w-100 cf dark-gray bg-white center">
    {{ block "main" . }}
      If you are seeing this something went wrong.
    {{ end }}
    </div>

    {{ partial "footer" . }}
