<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="sans-serif bg-white-10 {{.Page.Kind}}">
    {{ block "header" . }}
      <div class="logo--overlay flex justify-center w-100">
        <div class="z-999 tc">
          <a href="/" class="grow no-underline db">
            <span class="logo--moon mt1 mt4-ns"></span>
            <img class="h3 mt3 mt4-ns dib v-mid relative" src="/images/happea-travels.png" alt="Happea Travels; a travel blog" srcset="/images/happea-travels.png 1x, /images/happea-travels@2x.png 2x">
            <span class="logo--title f6 green db mt3 mb3 mb0-ns fw5">Happea Travels</span>
          </a>
        </div>
      </div>
    {{ end }}

    <div class="w-100 cf dark-gray bg-white center">
    {{ block "main" . }}
      If you are seeing this something went wrong.
    {{ end }}
    </div>

    {{ partial "footer" . }}
