{{ define "main" }}
  {{ .Params.continent }}
  <h1 class="f3 f2-l lh-title mt4 tc">{{.Title}}</h1>
  <div class="f5 f4-ns">
    <div class="mw8 mt4 ph3 center">
      {{ partial "post/meta" . }}
    </div>
    <article class="blog-post lh-copy">

      {{ with .Params.feature_image}}
        <!-- Featured Image Block -->
        {{ $height := mul $.Params.feature_image_data.height 1.0 }}
        {{ $width := mul $.Params.feature_image_data.width 1.0 }}
        <div class="mw8 center blog-post--feature-image mt4 relative">
          <img style="pointer-events: none" src="{{.}}w=1200&blur=900" class="blurred-image">
          <img style="pointer-events: none; top: 0; left:0; transition: all 2s" src="{{.}}w=1800&fit=clip" class="absolute o-0 full-image z-5" data-ratio="{{ div $width $height }}" data-ratio-percent="{{ mul 100 (div $height $width) }}">
        </div>
      {{ end }}

      {{ if isset .Params "intro" }}
      <div class="flex center mw8 flex-wrap-reverse">
        <div class="mw8 ph3 blog-post--intro-block">
          <div class="blog-post--intro georgia nested-links measure-wide">{{.Params.intro | markdownify}}</div>
        </div>
        <a class="flex flex-column flex-wrap-reverse items-center meta-block mr-auto mr0-ns ml-auto tr-ns mt3 mt0-ns lh-copy link hover-pink silver" href="/destination/{{lower .Params.destination}}">
          <div class="mr2-ns ml-auto-ns">
            {{ with .Params.country }}
              {{ partial "helpers/country_flag" (dict "context" $ "country" .) }}
            {{ end }}
          </div>
          <div class="dib order-1 mh2 tc tr-ns mt1 mb2 order-0-ns ml-auto-ns">
            <span class="f6 nowrap fw5 db dark-gray">Posted about {{.Params.country.name}}</span>
            <span class="f7 fw5 db">Read all {{.Params.destination}} articles</span>
          </div>
        </a>
      </div>
      <div class="mw8 center ph3">{{ ":wavy_dash:" | emojify}}</div>
      {{ end }}


      <!-- Loop through blocks and display them -->

      <!-- Text block -->
      <!-- Image block -->
      <!-- Intro block -->

        {{ range .Params.content }}
        {{ if eq .itemType "text_block" }}
          <div class="mw8 center ph3 relative blog-post--text-block">
            <div class="georgia nested-links measure-wide">{{ .content | markdownify }}</div>
          </div>
        {{ else if eq .itemType "single_image"}}
          <div class="mw8 center mt4 blog-post--image-block">
            <div class="dib">
              <img style="pointer-events: none" src="{{.image.url}}mw=1200">
              <div class="center tc nt1 f6 gray">
                {{.caption}}
              </div>
            </div>
          </div>
        {{ else if eq .itemType "quote_block" }}
          <blockquote>
            {{ .quote }}
            <footer>
              <cite>{{ .author }}</cite>
            </footer>
          </blockquote>
        {{ else if eq .itemType "gallery" }}
          <!-- Gallery block -->
          <div class="gallery mw8 center blog-post--gallery gallery--{{.galleryType.galleryType}}">
            {{ $.Scratch.Set "landscape" 0}}
            {{ range .gallery }}
              {{ $height := mul .height 1.0 }}
              {{ $width := mul .width 1.0 }}
              {{ $isLandscape := gt $width $height}}
              {{ $counter := $.Scratch.Get "landscape"}}
              <div class="gallery-item gallery-item--{{- if not $isLandscape -}} portrait {{- else -}} landscape gallery-item--landscape--{{$counter}}{{ end }}">
                <img src="{{.url}}w=1200&fit=crop" data-lightbox alt="{{.alt}}">
              </div>
              {{ if gt $width $height }}{{ $.Scratch.Add "landscape" 1 }}{{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}

      <!-- End loop -->

      <div class="disqus-comments mt4 mw8 center ph3 relative">
        {{ if ne (getenv "HUGO_ENV") "development" }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
      </div>
    </article>
  </div>
{{ end }}
