{{ define "main" }}

  <div class="author--{{.Params.author}} overflow-hidden aspect-ratio aspect-ratio--16x9">
    <div class="cover aspect-ratio--object" style="background: url('{{.Params.feature_image}}')"></div>
  </div>
  <div class="f5 f4-ns">
    <div class="center ph3 mt4 measure-wide">
      {{ partial "post/meta" . }}
    </div>
    <article class="lh-copy pa3 measure-wide center nested-links">
<div class="georgia">{{ .Content }}</div>
      <div class="mt4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </article>
  </div>
{{ end }}
