<div class="nested-links lh-copy georgia">{{.Summary}}</div>
<div class="flex-ns justify-between flex-wrap">
  <a class="no-underline dib pa2 grow f7 bg-pink b white br2 ba" href="{{.RelPermalink}}">Read more</a>
  {{ with .Params.tags }}
    <span class="f6 db dib-ns moon-gray tr-ns">
      <!-- Loop through tags with comma delimiter -->
      {{ range $i, $e := . }}
        {{- if $i -}},{{ end }}<a href="/tags/{{. | urlize}}" class="color-inherit pv2 dib hover-pink link">{{ $e }}</a>
      {{- end -}}
    </span>
  {{ end }}
</div>
