.nested-links a {
  word-wrap: nowrap;
  border-bottom: 1px solid var(--green);
  color: inherit;
  padding: 0.1em 0.2em;
  transition: all 0.2s;
  text-decoration: none;
}

.nested-links a:hover,
.nested-links a:focus {
  color: inherit;
  background: var(--washed-green);
}