{{ define "main" }}
  <ul class="list center tc">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
    <li><a class="dib link green" href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> {{ $value.Count }} </li>
    {{ end }}
  </ul>
  <form name="contact" action="thank-you" netlify>
    <p>
      <label>Your Name: <input type="text" name="name"></label>   
    </p>
    <p>
      <label>Your Email: <input type="email" name="email"></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
{{ end }}