/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/tachyons.css";

:root {
  --green: #618E61;
  --pink: #DD9CDC;
}

@media (--breakpoint-not-small) {

  .hero-post {
    & h2 {
      padding: 0.3em;
    }
    &.author--Jayphen h2 {
      background: color(var(--green) alpha(-10%));
    }
    &.author--Ina h2 {
      background: color(var(--pink) alpha(-10%));
    }
  }
}
/* Remove the shrink effect on click */
.hero-post .grow:active {
  transform: none;
}

/* Lil hack to use green highlights for Jayphen posts
 Pink highlights for Ina posts */
.author--Jayphen {
  & .bg-pink {
    background: var(--green);
  }
  & .hover-pink:hover {
    color: var(--green);
  }
}

.nested-links {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: Helvetica;
  }
}