/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/tachyons.css";

:root {
  --green: #89B6A5;
  --pink: #DD9CDC;
}

body {
  overflow-x: hidden;
}

@media (--breakpoint-not-small) {
  .hero-post {
    & h2 {
      padding: 0.3em;
    }
    &.author--Jayphen h2 {
      background: color(var(--green) alpha(-10%));
    }
    &.author--Ina h2 {
      background: color(var(--pink) alpha(-10%));
    }
  }
}
/* Remove the shrink effect on click */
.hero-post .grow:active {
  transform: none;
}

/* Lil hack to use green highlights for Jayphen posts
 Pink highlights for Ina posts */
.author--Jayphen {
  & .bg-pink {
    background: var(--green);
  }
  & .hover-pink:hover {
    color: var(--green);
  }
}

.nested-links {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
    margin-bottom: -0.8rem;
    margin-top: 2em;
    line-height: 1.25;
  }
  & h5, & h6 { 
    color: var(--silver);
    text-transform: uppercase;
    letter-spacing: 0.15em; 

  }
  @media (--breakpoint-large) {
    & img {
      margin-left: -10vw;
      margin-right: -10vw;
      max-width: calc(100% + 20vw);
    }
  }
  & img {
    margin-left: -5vw;
    margin-right: -5vw;
    max-width: calc(100% + 10vw);
  }
}

@media (--breakpoint-not-small) {
  .logo--overlay img {
    height: 5rem;
  }
  .logo--overlay {
    height: 0;
    margin: 0 auto;
    body.home & {
      pointer-events: none!important;
    }
  }
  .logo--moon {
    background: color(white alpha(-10%));
    top: 0;
  }
  .logo--title {
    color: white;
    &:after {
      content: "";
      border-top: 3px solid color(white alpha(-90%));
      display: block;
      width: 2.5rem;
      height: 0;
      margin: 0.5rem auto;
    }
  }

}
.logo--moon {
  height: 5.6rem;
  width: 5.6rem;
  background: white;
  border-radius: 3rem;
  position: absolute;
  top: -0.8rem;
}
.logo--title, .logo--moon {
  margin-left: 0.6rem;
}
