/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/tachyons.css";

:root {
  --green: #89B6A5;
  --pink: #DB6E6E;
}

body {
  overflow-x: hidden;
}

.home .main-nav {
  margin-bottom: 0;
}
.main-nav {
  margin-bottom: 4rem;
  & nav a {
    color: color(var(--pink) alpha(-40%));
    text-decoration: underline;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & a:hover,
  & a:active {
    color: var(--pink);
  }
}
.main-nav--logo {
  /* Force the logo to centre */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media (--breakpoint-not-small) {
    & a {
      top: 3.5rem;
      position: relative;
      margin-top: -3.5rem;
    }
  }
}

@media (--breakpoint-not-small) {
  .hero-post {
    & h2 {
      padding: 0.3em;
    }
    &.author--Jayphen h2 {
      background: color(var(--green) alpha(-10%));
    }
    &.author--Ina h2 {
      background: color(var(--pink) alpha(-10%));
    }
  }
}
/* Remove the shrink effect on click */
.hero-post .grow:active {
  transform: none;
}

/* Lil hack to use green highlights for Jayphen posts
 Pink highlights for Ina posts */
.author--Jayphen {
  & .bg-pink {
    background: var(--green);
  }
  & .hover-pink:hover {
    color: var(--green);
  }
}

.nested-links {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
    margin-bottom: -0.8rem;
    margin-top: 2em;
    line-height: 1.25;
  }
  & h5, & h6 { 
    color: var(--silver);
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    font-weight: 600;

  }
  @media (--breakpoint-large) {
    & img {
      margin-left: -10vw;
      margin-right: -10vw;
      max-width: calc(100% + 20vw);
    }
  }
  & img {
    margin-left: -5vw;
    margin-right: -5vw;
    max-width: calc(100% + 10vw);
  }
}

@media (--breakpoint-not-small) {
  .logo--overlay img {
    height: 6rem;
  }
  .logo--overlay {
    body.home & {
      pointer-events: none!important;
    }
  }
  .logo--moon {
    background: white;
    top: 0;
  }
  .logo--title {
    margin-left: -0.8em;
    &:after {
      /*
      content: "";
      border-top: 3px solid color(white alpha(-90%));
      display: block;
      width: 2.5rem;
      height: 0;
      margin: 0.5rem auto;
      */
    }
  }
}
@media (--breakpoint-not-small) {
  .home .logo--title {
    color: white;
  }
}
.logo--moon {
  height: 6.6rem;
  width: 6.6rem;
  background: white;
  border-radius: 6rem;
  position: absolute;
  top: -0.8rem;
}
.logo--moon {
  margin-left: 0.6rem;
}
