{{ define "main" }}
  {{ range first 1 (where .Data.Pages "Section" "post") }}
    <div class="author--{{.Params.author}} hero-post overflow-hidden aspect-ratio aspect-ratio--16x9">
      <a class="link" href="{{.RelPermalink}}">
        <div class="grow cover aspect-ratio--object" style="background: url('{{.Params.feature_image}}')">
          <div class="aspect-ratio--object bg-black-20 hover-bg-black-40 bg-animate"></div>
        </div>
        <div style="pointer-events: none" class="flex aspect-ratio--object white">
          <div class="self-center tc center">
            <h2 class="lh-title f3 f2-l ma2 fw6">
              <span>{{.Title}}</span>
            </h2>
            <span class="f7 f6-l db near-white ttu">
              {{ partial "post/posted_by" . }}
              {{ with .Site.GetPage "page" .Params.country }}
                {{ partial "helpers/country_flag" (dict "context" .) }}
              {{ end }}
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="lh-copy mb6 f4">
      {{ .Render "summary-home" }}
    </div>
  {{ end }}

  {{ if gt 1 (len .Data.Pages) }}
    <div class="lh-copy mb6 f4">
      {{ range first 10 (after 1 .Data.Pages) }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
