{{ define "main" }}
  {{ range first 1 .Data.Pages }}
    <div class="hero-post overflow-hidden aspect-ratio aspect-ratio--16x9">
      <a class="link" href="{{.RelPermalink}}">
        <div class="grow cover aspect-ratio--object" style="background: url('https://images.unsplash.com/photo-1501763966092-9aa4ec850e12?dpr=2&auto=format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=')">
        <div class="aspect-ratio--object bg-black-20 hover-bg-black-40 bg-animate"></div>
        </div>
        <div style="pointer-events: none" class="flex aspect-ratio--object white">
          <div class="self-center tc center">
            <h2 class="lh-title f3 f2-l ma2 fw6">
              <span>{{.Title}}</span>
            </h2>
            <span class="f7 f6-l db near-white ttu">
              <span class="fw1">Posted by</span>
              <span class="b">{{ .Params.author }}</span>
              <span class="fw1">on</span>
              <span class="b">{{ dateFormat "Jan 2 2006" .Date}}</span>
              <span class="fw1">in</span>
              <!-- Loop through categories with comma delimiter -->
              {{ range $i, $e := .Params.categories }}
                {{- if $i -}},{{ end }}<span class="b">{{ $e }}</span>
              {{- end -}}
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="lh-copy mb6">
      {{ .Render "summary" }}
    </div>
  {{ end }}

  <div class="lh-copy">
    {{ range first 10 .Data.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>
{{ end }}
